/* progress bar fixes begin */
/* Resolves the issue where the text inside the progress bar overflows for long strings. */
.progress-bar2 span {
  position: absolute !important;
  display: inline-block !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  top: 0 !important;
  bottom: 0 !important;
  height: auto !important;
}

.progress-bar2 {
  height: auto !important;
}

.progress-bar2 div {
  z-index: 99 !important;
  text-shadow: 0 0 0.1em black, 0 0 0.2em black !important; /* improves text contrast a bit. */
  position: relative !important;
  padding-top: 2.5px !important;
}
/* progress bar fixes end */
