/* progress bar fixes begin */
/* Resolves the issue where the text inside the progress bar overflows for long strings. */
.progress-bar2 span {
	position: absolute !important;
	display: inline-block !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	top: 0 !important;
	bottom: 0 !important;
	height: auto !important;
}

.progress-bar2 {
	height: auto !important;
}

/*#quickreply_e .yuieditor-toolbar {
	width: 100%;
	padding: 4px;
}*/

#shoutbox > .head {
	padding-top: 0 !important;
}

.yuieditor-toolbar + textarea {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	width: 100% !important;
	box-sizing: border-box;
}

.editor_control_bar {
	box-sizing: border-box;
	margin-bottom: 0.5em;
}

#quickreply_e > tr > td:nth-child(1) {
	display: none !important;
	width: 0% !important;
}

#quickreply_e > tr > td:nth-child(2) > div:nth-child(1) {
	width: 100% !important;
}

#whatever_name_popup > div > table > tbody > tr > td:nth-child(1) > a > img.panelavatar {
	margin-top: 0px !important;
	max-height: 55px;
	max-width: 55px;
	height: auto !important;
	width: auto !important;
}

.popup_menu .popup_item font {
	color: #A4A1A1 !important;
}

.popup_item_container a.popup_item {
	/*transition: box-shadow 0.1s ease, background 0.1s ease;*/
}

.popup_item_container a.popup_item:hover {
	background: #00819E !important;
	box-shadow: 0 0 0.3em 0 #00819E !important;
}

.popup_item_container a.popup_item:hover font {
	color: white !important;
}

#shoutbox .text {
	color: #969696;
}

#whatever_name_popup > div > table > tbody > tr > td:nth-child(1) {
	vertical-align: middle !important;
}

.progress-bar2 div {
	z-index: 99 !important;
	text-shadow: 0 0 0.1em rgba(0,0,0,0.9), 0 0 0.2em rgba(0,0,0,0.9) !important; /* improves text contrast a bit. */
	position: relative !important;
	padding-top: 2.5px !important;
	padding-bottom: 2.5px !important;
}
/* progress bar fixes end */

/* header fixes begin */
/* Resolves issue where body container would go outside the viewport (and become unusable) in Gecko/Firefox. */
body .menu {
	float: none !important;
	margin-bottom: -4em !important;
	width: 100% !important;
	/*padding-left: 2.5% !important;
	padding-right: 2.5% !important;*/
	z-index: 10001;
	border-bottom: 1px solid #00cffe;
	box-shadow: 0 0 2px 1px #00CFFE;
	overflow: hidden;
}

.pagination a {
	line-height: 2.5em !important;
	white-space: nowrap;
}

.menu #nav-rules .fa {
	color: #FF7F00;
}

#top {
	position: absolute;
	top: 0;
}

.menu #nav-adv-search {
	padding-right: 0;
}

body.navbarNotWrapped .menu li {
	padding: 0;
}

body.navbarNotWrapped .menu a {
	padding: 13px 12px;
	position: relative;
	top: 12px;
}

body.navbarNotWrapped .menu #nav-adv-search a {
	padding: 13px 12px;
	padding-right: 0.5em;
}

body.navbarNotWrapped .menu #nav-adv-search {
	padding-right: 0;
}

body.navbarNotWrapped .menu {
	position: fixed !important;
}

body.navbarNotWrapped .popup_menu:not(#whatever_name_popup) {
	position: fixed !important;
	top: 3.5em !important;
}


body.navbarNotWrapped .menu #nav-search {
	padding: 0;
	margin: 0;
	position: relative;
	width: 9em;
	height: 3.2em;
	vertical-align: top;
	margin-right: 0.5em;
}

body.navbarNotWrapped .menu #nav-search form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: auto;
	display: block;
}

body.navbarNotWrapped .menu #nav-search form input {
	border-radius: 0px;
	border: none transparent 0px;
	background: rgba(62, 62, 62, 0.63);
	color: white;
	padding-left: 0.5em;
	width: 100%;
	height: 100%;
	padding-right: 0.5em;
}

.popup_menu .popup_item {
	border-radius: 4px !important;
}
/* header fixes end */

/* shoutbox fixes begin */
/* compensates for the 6px inner padding and 1px border on the shoutbox form to prevent overflow. */
#shoutbox > div.body > div.panel > form {
	padding-right: 13px !important;
}
/* shoutbox fixes end */

#forum table td form[action="moderation.php"] {
	position: relative;
	top: 0.9em;
	line-height: 2.25em;
}

#forum > table:nth-child(1) .pagination {
	margin-top: -1.25em;
}

#forum > div:nth-child(3) .pagination {
	margin-top: -1.6em;
}

#container {
	width: 100% !important;
}

.buddy_status {
	vertical-align: text-top;
}

body .menu li {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

body.navbarNotWrapped .menu li:hover i {
    color: #00CFFE !important;
}

#content > .wrapper {
	margin-top: -28px !important;
	border: none 0px transparent !important;
	border-radius: 0px !important;
}

#footer .upper {
	height: auto !important;
}

#forum .error {
	text-shadow: 0px 0px 0px transparent !important;
}

#footer .upper .float_right {
    margin-right: 2em !important;
    min-height: 3.5em;
    position: relative;
    top: 1.1em;
}

#footer .upper .float_left {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

#nav-search input {
	border-radius: 3px;
	border: solid gray 1px;
	background: transparent;
	color: white;
	padding-left: 0.15em;
	width: 9em;
}
