/* progress bar fixes begin */
/* Resolves the issue where the text inside the progress bar overflows for long strings. */
.progress-bar2 span {
	position: absolute !important;
	display: inline-block !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	top: 0 !important;
	bottom: 0 !important;
	left: 0.5em;
	height: auto !important;
	background: transparent !important;
	box-shadow: none !important;
}

.progress-bar2.orange span::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin-right: 0;
    top: 0;
    bottom: 0;
    background-color: #fecf23;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fecf23),to(#fd9215));
    background-image: -webkit-linear-gradient(top,#fecf23,#fd9215);
    background-image: -moz-linear-gradient(top,#fecf23,#fd9215);
    background-image: -ms-linear-gradient(top,#fecf23,#fd9215);
    background-image: -o-linear-gradient(top,#fecf23,#fd9215);
    background-image: linear-gradient(top,#fecf23,#fd9215);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.progress-bar2.orange::after {
    content: "";
    -webkit-box-shadow: 0 1px 5px #000 inset,0 1px 0 #444;
    box-shadow: 0 1px 5px #000 inset,0 1px 0 #444;
    position: absolute;
    left: 0;
    right: -1em;
    top: 0;
    bottom: 0;
    border-radius: 3px;
}

.progress-bar2 {
	border-right: 1em solid transparent;
	height: auto !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.progress-bar2 div {
	z-index: 99 !important;
	text-shadow: 0 0 0.1em rgba(0,0,0,0.9), 0 0 0.2em rgba(0,0,0,0.9) !important; /* improves text contrast a bit. */
	position: relative !important;
	padding-top: 2.5px !important;
	padding-bottom: 2.5px !important;
	left: 0.5em;
}
/* progress bar fixes end */

/* misc shoutbox fixes begin */
/* compensates for the 6px inner padding and 1px border on the shoutbox form to prevent overflow. */
#shoutbox > div.body > div.panel > form {
	padding-right: 13px !important;
}

#shoutbox .entry .avatar {
    text-align: center;
}

#shoutbox .text {
	color: #969696;
}

#shoutbox > .head {
	padding-top: 0 !important;
}
/* misc shoutbox fixes end */

/* post editor fixes begin */
.yuieditor-toolbar + textarea {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	width: 100% !important;
	box-sizing: border-box;
}

.editor_control_bar {
	box-sizing: border-box;
	margin-bottom: 0.5em;
}

#quickreply_e > tr > td:nth-child(1) {
	display: none !important;
	width: 0% !important;
}

#quickreply_e > tr > td:nth-child(2) > div:nth-child(1) {
	width: 100% !important;
}

#quickreply_e #message {
	margin-bottom: -0.6em !important;
}

#quickreply_e > tr > td:nth-child(2) > div.float_left {
	margin-top: 0.45em !important;
}

#quickreply_e > tr > td:nth-child(2) > div.float_right {
	margin-top: 0 !important;
}
/* post editor fixes end */

/* user dropdown fixes begin */
#whatever_name_popup > div > table > tbody > tr > td:nth-child(1) > a > img.panelavatar {
	margin-top: 0px !important;
	max-height: 55px;
	max-width: 55px;
	height: auto !important;
	width: auto !important;
}

#whatever_name_popup > div > table > tbody > tr > td:nth-child(1) {
	vertical-align: middle !important;
}
/* user dropdown fixes end */

/* misc dropdown edits begin */
.popup_menu .popup_item font {
	color: #A4A1A1 !important;
}

.popup_item_container a.popup_item {
	/*transition: box-shadow 0.1s ease, background 0.1s ease;*/
}

.popup_item_container a.popup_item:hover {
	background: #00819E !important;
	box-shadow: 0 0 0.3em 0 #00819E !important;
}

.popup_item_container a.popup_item:hover font {
	color: white !important;
}
/* misc dropdown edits end */

/* header fixes begin */
/* Resolves issue where body container would go outside the viewport (and become unusable) in Gecko/Firefox. */
body .menu {
	float: none !important;
	margin-bottom: -3.25em !important;
	width: 100% !important;
	/*padding-left: 2.5% !important;
	padding-right: 2.5% !important;*/
	z-index: 10001;
	overflow: hidden;
	/*padding-left: 0.75em;*/
	box-sizing: border-box;
	border-bottom: 1px solid #282828;
	box-shadow: 0 0 2px 1px #282828;
}

.menu #nav-rules .fa {
	color: #FF7F00;
}

.menu a#togglesidebar {
    display: none;
}

#top {
	position: absolute;
	top: 0;
}

.menu #nav-adv-search {
	padding-right: 0;
}

.navMenu2 a#togglesidebar,
.navMenu2 a#togglenavbar {
    color: #a4a1a1;
    padding-right: 1em;
}

#togglenavbar {
	display: none;
}

body.navbarNotWrapped #togglenavbar {
	display: inline;
}

body.navbarNotWrapped.navbarEnabled .menu li {
	padding: 0;
}

body.navbarNotWrapped.navbarEnabled .menu a {
	padding: 13px 12px;
	position: relative;
	top: 12px;
}

body.navbarNotWrapped.navbarEnabled .menu #nav-adv-search a {
	padding: 13px 12px;
	padding-right: 0.5em;
}

body.navbarNotWrapped.navbarEnabled .menu #nav-adv-search {
	padding-right: 0;
}

body.navbarNotWrapped.navbarEnabled .menu {
	position: fixed !important;
	margin-bottom: -4em !important;
	/*border-bottom: 1px solid #00cffe;
	box-shadow: 0 0 2px 1px #00CFFE;*/
}

body.navbarNotWrapped.navbarEnabled .popup_menu#playerslink_popup,
body.navbarNotWrapped.navbarEnabled .popup_menu#playerhelplink_popup,
body.navbarNotWrapped.navbarEnabled .popup_menu#extraslink_popup {
	position: fixed !important;
	top: 3.5em !important;
}


body.navbarNotWrapped.navbarEnabled .menu #nav-search {
	padding: 0;
	margin: 0;
	position: relative;
	width: 9em;
	height: 3.2em;
	vertical-align: top;
	margin-right: 0.5em;
}

body.navbarNotWrapped.navbarEnabled .menu #nav-search form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	width: auto;
	display: block;
}

body.navbarNotWrapped.navbarEnabled .menu #nav-search form input {
	border-radius: 0px;
	border: none transparent 0px;
	background: rgba(62, 62, 62, 0.63);
	color: white;
	padding-left: 0.5em;
	width: 100%;
	height: 100%;
	padding-right: 0.5em;
}

body .menu li {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

body.navbarNotWrapped.navbarEnabled .menu li:hover i {
	color: #00CFFE !important;
}

#nav-search input {
	border-radius: 3px;
	border: solid gray 1px;
	background: transparent;
	color: white;
	padding-left: 0.15em;
	width: 9em;
}

body.navbarNotWrapped.navbarEnabled #posts table[id*="post"] + a[id*="pid"] {
    position: relative;
    top: -3em;
}
/* header fixes end */

/* uncategorized fixes begin */
/* most of these are simple alignment/positioning tweaks. */
#forum table td form[action="moderation.php"] {
	position: relative;
	top: 0.9em;
	line-height: 2.25em;
}

#forum > table:nth-child(1) .pagination {
	margin-top: -1.25em;
}

#forum > div:nth-child(3) .pagination {
	margin-top: -1.6em;
}

#container {
	width: 100% !important;
}

#content > .wrapper {
	margin-top: -28px !important;
	border: none 0px transparent !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
}

.pagination a {
	line-height: 2.5em !important;
	white-space: nowrap;
}

.usercp_notepad {
	width: 100% !important;
	box-sizing: border-box;
}

#footer .upper {
	height: auto !important;
}

#forum .error {
	text-shadow: 0px 0px 0px transparent !important;
}

#footer .upper .float_right {
	margin-right: 2em !important;
	min-height: 3.5em;
	position: relative;
	top: 1.1em;
}

#footer .upper .float_left {
	margin-top: 0 !important;
	margin-left: 0 !important;
}

.wrapper {
	overflow: visible !important;
}

.post_body img {
    max-width: 700px !important;
}

.buddy_status {
	vertical-align: text-top;
}

#forum > form[action*="newthread.php"] > div[style*="text-align"][style*="center"] .button,
#forum > form[action*="newpost.php"] > div[style*="text-align"][style*="center"] .button {
	margin-bottom: 1.25em;
}

.navMenu2 {
	padding: 0.75em !important;
	padding-top: 0em;
	margin-top: -1.5em;
}

.popup_menu .popup_item {
	border-radius: 4px !important;
}
/* uncategorized fixes end */
